<div class="body-card">
  <div class="textmain">
    <h1>Registration Annoucement</h1>
  </div>

  <div class="card">
    <div class="text-in">
      <h2>Course Registration,Semester 2/2022</h2>
      <div class="text-inside">
        <div class="wrapper">
          <div class="center-line"></div>
          <div class="row row-1">
            <section>
              <div class="f-icon">
                <div class="icon"></div>
              </div>
              <div class="details">
                <span class="title">Semester start-end adates</span>
                <p>10 Jan 2022 - 6 May 2022</p>
              </div>
            </section>
          </div>
          <div class="row row-1">
            <section>
              <div class="f-icon">
                <div class="icon"></div>
              </div>
              <div class="details">
                <span class="title">Semester start-end adates</span>
                <p>10 Jan 2022 - 6 May 2022</p>
              </div>
            </section>
          </div>
          <div class="row row-1">
            <section>
              <div class="f-icon">
                <div class="icon"></div>
              </div>
              <div class="details">
                <span class="title">Semester start-end adates</span>
                <p>10 Jan 2022 - 6 May 2022</p>
              </div>
            </section>
          </div>
          <div class="row row-1">
            <section>
              <div class="f-icon">
                <div class="icon"></div>
              </div>
              <div class="details">
                <span class="title">Semester start-end adates</span>
                <p>10 Jan 2022 - 6 May 2022</p>
              </div>
            </section>
          </div>
          <div class="row row-1">
            <section>
              <div class="f-icon">
                <div class="icon"></div>
              </div>
              <div class="details">
                <span class="title">Semester start-end adates</span>
                <p>10 Jan 2022 - 6 May 2022</p>
              </div>
            </section>
          </div>
          <div class="row row-1">
            <section>
              <div class="f-icon">
                <div class="icon"></div>
              </div>
              <div class="details">
                <span class="title">Semester start-end adates</span>
                <p>10 Jan 2022 - 6 May 2022</p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card-profile">
      <div class="avatar">
        <img
          src="https://c.tenor.com/j2aVLrYfEBsAAAAC/jett-valroant.gif"
          alt=""
        />
      </div>

      <div class="text-pf">
        <h3>{{ studentId }}</h3>
        <p>{{ type }}</p>
      </div>

      <div class="text-info">
        <p><strong>Name :</strong> {{ name }}</p>
        <p><strong>Email :</strong> {{ email }}</p>
        <p><strong>Student ID :</strong> {{ studentId }}</p>
        <p><strong>Year :</strong> {{ years }}</p>
        <p><strong>Section :</strong> {{ sec }}</p>
        <p><strong>Tel :</strong> {{ tel }}</p>
        <p><strong>Type :</strong> {{ type }}</p>
      </div>
    </div>
  </div>
</div>
