<body>
  <div class="login-component1">
    <img src="assets/img/1.jpg" class="imglogin" alt="" />
  </div>
  <div class="login-component2">
    <form class="container" [formGroup]="form" (submit)="submit()">
      <h1>Welcome To Edu.</h1>
      <div class="fontlg">
        <p>Email</p>
      </div>
      <input
        type="text"
        class="textbox"
        placeholder="Email"
        formControlName="email"
        required
      />
      <div class="fontlg">
        <p>Student ID</p>
      </div>
      <input
        type="text"
        class="textbox"
        placeholder="Student ID"
        formControlName="studentId"
        required
      />

      <br />

      <input type="submit" class="btn-submit" value="Log in" />
    </form>
  </div>
</body>
